<html>
<head>
<script>

function image1(){
    if(document.getElementById('1').checked){
    document.getElementById('coul').style.display="Block";
    }
    else document.getElementById('coul').style.display="None";
} 

</script>
</head>
<body>
<h1>Mes outils pour images</h1>
<hr/>

<h2>Image 1</h2>
<img src="{{ url_for('static', filename='images/mognon.jpg') }}" alt="Logo">
<p>Image 1<input onclick="image1()" type="checkbox" id="image1"></p>
<hr/>

<h2>Image 2</h2>
<img id=coul src="{{ url_for('static', filename='images/mognon-2.jpg') }}" alt="Logo">
<p>Image 2<input onclick="image2()" type="checkbox" id="2"></p>
<hr/>

<h2>Image 3</h2>
<img src="{{ url_for('static', filename='images/mognon-3.jpg') }}" alt="Logo">
<p>Image 1<input onclick="image1()" type="checkbox" id="1"></p>

</body>
</html>
