<html>
<head>
<script>
function affichage(){
	alert("Tout est OK !");
}

function cacherImage(){
	document.getElementById('imageChat').style.display = "none";
}

function presenterImage(){
	document.getElementById('imageChat').style.display = "block";
}

function controler(){
	if(document.getElementById('Control').checked){
		alert("Bouton option coché");
	} else {
		alert("Bouton option NON coché");
	}		
}
</script>
</head>
<body>
<h1>Mes outils</h1>
<hr/>
<h2>Boîte de dialogue</h2>
<button onclick="affichage()">Afficher</button>
<hr/>
<h2>Image de chat</h2>
<!-- Image ajoutée avec une URL correcte -->
<img id="imageChat" src="{{ url_for('static', filename='static/images/mognon.jpg') }}" alt="Mognon le chat" style="display:none; width:200px;">
<br/>
<button onclick="presenterImage()">Afficher l'image</button>
<button onclick="cacherImage()">Cacher l'image</button>
<hr/>
<p>Option<input type="checkbox" id="Control"></p>
<button onclick="controler()">Check</button>
</body>
</html>
